.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/[Pp]rivate*/
content/[Dd]ailies*/
content/[Ss]cratchpad*/
content/[Pp]rojects*/
content/[Aa]rchive*/