@use "./base.scss";

@media (max-width: 600px) {
  li.section-li {
    > .section {
      > .tags {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  li.section-li {
    > .section {
      > .tags {
        position: static;
      }
    }
  }
}

li.section-li {
  > .section {
    position: relative;

    > .tags {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style-type: none;
      position: relative;
      left: 170px;
    }

    > .meta {
      font-size: 0.85rem;
    }
  }
}